@font-face {
   font-family: "Robot";
   src: url("../../fonts/Robot/roboto-regular-webfont.woff2") format("woff2"),
      url("../../fonts/Robot/roboto-regular-webfont.woff") format("woff"),
      url("../../fonts/Robot/Roboto-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
