//?colors
$forText: #AAAAAA;
$forHeader: #000000;
$forTitle: #1A1A1A;
$greyOther: #4A4A4A;
$whiteDark: #FFFFFF;
$bgColorUpHeader: #f4f4f4;
$borderColor: #e0e0e0;

$main: black; //#008cff;
$grey: #8d9aa9;
$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);



//?fonts
$fontRobot: "Robot";


//?screens
$tablet: "min-width: 762px";
$desktop: "min-width: 1024px";
$desktopL: "min-width: 1440px";